/* IMPOSTAZIONI GENERALI */
@import url@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html, 
body {
    margin: o;
    padding: 0;
   box-sizing: border-box;
}

/* HEADER */

/* MAIN */

/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
