/* IMPOSTAZIONI GENERALI */
@import url@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

html, 
body{
   background-image: url(../Images/sfondo.png);
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
   
}
 
/* HEADER */
header {
text-align: center;
color: rgb(255, 255, 255);
background-color: rgb(9, 115, 145);
margin: 3rem;
padding: 2rem; 
border-radius: 10px 10px 10px 10px;
box-shadow: 3px 3px 3px rgb(69, 68, 68);
}


 

#logo { text-align: center;
    
}

#home{
list-style-type: none;
margin-block-start: 0px;
padding-inline-start: 0px;
text-align: center;
}

#home li::before {content: '⭐';}

/* MAIN */

main {
background-color: rgb(240, 240, 240);
margin: 3rem;
padding: 2rem;
box-shadow: 3px 3px 3px rgb(69, 68, 68); 
}



#pen_orologio {color: rgb(163, 162, 162);}

span {
   border-radius: 10px 10px 10px 10px ;
}

table {
width: 200px;
height: 200px;
border-collapse: collapse;
text-align: center;
border-bottom: color blue;
}


#t1 {
   background-color: rgb(3, 96, 202);
   color:white
}


.pari {
   background-color: lightgrey
}



#video {
   border-radius: 20px 20px 20px 20px;
}


h3{
   text-align: center;
}

#box1 {
   background-color: lightgray;
   padding-left: 10px;
   padding-bottom: 20px;
   padding-top: 10px;
}

#box2 {
text-align: center;
padding-top: 20px;
padding-bottom: 20px;
}

#box3 {
   background-color: lightgray;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
}
#box4 {
   background-color: lightgray;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
}

#box5 {
   background-color: lightgray;
   padding-left: 10px;
   padding-bottom: 10px;
   padding-top: 10px;
}

.data{
text-align: right;
padding-right: 10px;
}


footer{
   text-align: center;
      color: rgb(255, 255, 255);
      background-color: rgb(6, 103, 58);
      margin: 3rem;
      padding: 1rem; 
      box-shadow: 3px 3px 3px rgb(69, 68, 68);
      }
      



/* ELEMENTI NEL MAIN - ARTICLE */

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
